* {
    box-sizing: border-box;
    font-family: "SF-Medium";
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

u {
    font-style: normal;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    color: white;
}
  
section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}

canvas {
    height: 100vh;
    width: 100vw;
    background-color: #0f0e0c;
}

.mac-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mac-section h1 {
    position: absolute;
    padding-top: 0;
    top: 0;
    font-size: 80px;
}

#topest {
    background: linear-gradient(to bottom ,#0f0e0c, #000);
}

.mid-div{
    height: 200vh;
}

.bottom-div{
    background: #000;
    min-height: 200vh;
}

#projects-2021 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#projects-2021 h1 {
    font-size: 60px;
    padding-top: 300px;
}

.project {
    margin-top: 10vh;
    width: 100vw;
    min-height: 100vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow-x: hidden;
}

.project-img {
    position: relative;
    margin: 0;
    margin-top: 10vh;
    left: 60vh;
    text-align: center;
    height: 80vh;
    border-radius: 20px;
    z-index: 0;
    overflow-x: hidden;
}


.project-body {
    position: absolute;
    margin-top: 10vh;
    left: 5vw;
    z-index: 10;
    padding-bottom: 20px;
    width: 40vw;
    border-radius: 20px;
}

.project-title {
    text-align: left;
    font-size: 40px;
    padding-top: 20px;
}

.project p {
    font-family: "SF-Thin";
}

.project-desc {
    margin-top: 5vh;
    font-size: 20px;
    padding: 20px;
    margin-left: 20px;
    text-indent: 30px;
}

.project-desc p {
    padding-bottom: 20px;
}

.project-repo {
    font-size: 25px;
    padding-top: 20px;
    text-align: left;
    font-family: "SF-Bold";
}

.project-authors {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-family: "SF-Bold";
}


#bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100px;
}

#down-arrow {
    width: 40vw;
}


@media screen and (max-width: 1000px) {


    .project-img {
        left: 0;
        width: 100vw;
        border-radius: 0px;
    }

    .project-body {
        left: 0;
        width: 100vw;
        height: 100%;
        padding-top: 10vh;
        border-radius: 0px;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        box-shadow: 10px 100px 100px rgba(0, 0, 0, 0.5);
    }

    .project-title {
        padding-top: 100px;
        font-size: 30px;
        text-align: center;
        border-radius: 0px;
    }

    .project {
        margin-top: 10vh;
        justify-content: center;
    }

    .project-repo, .project-authors {
        font-size: 20px;
        padding-left: 10px;
    }

    #year-name-2021 {
        font-size: 30px;
        padding-top: 20px;
    }

    #main-title {
        font-size: 50px;
        padding-top: 20px;
    }

    .project {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

}


@media screen and (max-width > 747px) and (max-width < 1000px) {

    .project-desc {
        font-size: 30px;
    }

    .project-repo, .project-authors {
        font-size: 40px;
        padding-left: 10px;
    }

    .project-title {
        padding-top: 100px;
        font-size: 60px;
    }

    #year-name-2021 {
        font-size: 40px;
        padding-top: 20px;
    }

    #main-title {
        font-size: 50px;
        padding-top: 20px;
    }

}

@font-face {
    font-family: "SF-Medium";
    src: url("../assets/fonts/SF-Pro-Text-Medium.otf") format("opentype");
}

@font-face {
    font-family: "SF-Thin";
    src: url("../assets/fonts/SF-Pro-Text-Thin.otf") format("opentype");
}

@font-face {
    font-family: "SF-Bold";
    src: url("../assets/fonts/SF-Pro-Text-Bold.otf") format("opentype");
}